.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  padding-bottom: 15vh;
}

.features__text {
  color: black;
  font-size: large;
}

.features__img_container_all {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
}

.features__img_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 50px;
  background-color: gray;
}

.features__img {
  width: 50px;
  height: 50px;
}
