.header__container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(1, 0, 1, 0.9)
  );
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__heading {
  display: flex;
  position: fixed;

  transform: translateX(16px);
  align-self: center;
  font-family: "Poppins";
  margin-top: 5%;
  font-style: italic;
  color: darkgrey;
  filter: brightness(35%);
  font-size: xx-large;
}

.bottle__container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  opacity: 0.2;
  fill-opacity: 0;
}

.bottle__img_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bottle__img {
  background-color: transparent;
  filter: drop-shadow(0 18px 17px white);
  position: absolute;
  rotate: 7deg;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bottleLogo__img {
  background-color: transparent;
  filter: drop-shadow(0 18px 17px white);
  position: fixed;
  rotate: 7deg;
}

.bottle__img:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

.bottle__img:active {
  transform: scale(0.9);
}

.arrow__img {
  overflow: hidden;
}

.text__container {
  font-family: "kalam";
  filter: brightness(80%);
  display: flex;
  align-items: center;
  position: absolute;
  height: 80vh;
  width: 60vw;
  align-self: center;
  color: white;
  justify-content: space-between;
  font-size: xx-large;
  left: 17.5%;
}

.text__container_small {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60%;
  justify-content: space-between;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1800px) {
  .arrow__img {
    width: 1300px;
    height: 950px;
  }
  .text__container_small {
    height: 50%;
  }
}

@media only screen and (max-width: 1650px) {
  .header__heading {
    font-size: x-large;
    margin-top: 8%;
  }
  .bottle__img {
    width: 200px;
    height: 450px;
  }
  .arrow__img {
    width: 1000px;
    height: 950px;
  }
  .bottleLogo__img {
    width: 120px;
    height: 200px;
  }
  .text__container {
    width: 55vw;
    margin-left: 30px;
  }
  .text__container_small {
    height: 40%;
    font-size: x-large;
  }
}

@media only screen and (max-width: 1350px) {
  .header__heading {
    margin-top: 10%;
  }
  .arrow__img {
    width: 800px;
    height: 1100px;
  }
  .bottleLogo__img {
    width: 100px;
    height: 190px;
  }
  .bottle__img {
    width: 170px;
    height: 400px;
  }
  .text__container {
    width: 60vw;
    margin-left: -8px;
  }
  .text__container_small {
    height: 35%;
    font-size: x-large;
  }
}

@media only screen and (max-width: 1100px) {
  .header__heading {
    margin-top: 15%;
  }
  .arrow__img {
    width: 1800px;
    height: 500px;
  }

  .text__container {
    width: 76vw;
    margin-left: -10vw;
  }
}

@media only screen and (max-width: 950px) {
  .header__heading {
    margin-top: 15%;
  }
  .arrow__img {
    width: 800px;
    height: 500px;
  }

  .text__container {
    width: 76vw;
    margin-left: -9vw;
  }
  .text__container_small {
    font-size: large;
  }
}

/* After this we gonna implement the animation */

@media only screen and (max-width: 800px) {
  .header__heading {
    margin-top: 18%;
  }
  .arrow__img {
    display: none;
  }

  .text__container_small > p {
    opacity: 1;
    animation: updown 2.5s ease-in-out infinite;
  }

  .text__container_small > p:nth-child(2) {
    animation-delay: 1s;
    opacity: 1;
  }

  .text__container > .text__container_small:nth-child(2) > p {
    animation-delay: 1.5s;
  }

  .text__container > .text__container_small:nth-child(2) > p:nth-child(2) {
    animation-delay: 2.5s;
  }
}

@media only screen and (max-width: 600px) {
  .header__heading {
    margin-top: 25%;
  }
  .text__container {
    width: 89%;
  }
  .text__container_small {
    font-size: medium;
  }

  .text__container {
    margin-left: -16vw;
  }
  .bottle__img {
    rotate: 4deg;
  }
}

@media only screen and (max-width: 450px) {
  .header__heading {
    margin-top: 35%;
  }
  .text__container_small {
    font-size: small;
    align-items: flex-start;
  }

  .bottle__img {
    transform: translateX(17px);
  }

  .bottleLogo__img {
    rotate: 4deg;
    transform: translateX(17px);
  }
  .text__container {
    margin-left: -12vw;
  }
}
