.label {
  display: flex;
  position: absolute;
  z-index: 5;
  align-self: flex-end;
  top: 0;
  right: 2vw;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s;
}

.logo {
  position: absolute;
  filter: invert(1);
  z-index: 2;
  cursor: pointer;
  top: 0;
  transform: translateY(-15px);
  left: 2vw;
  transition: all 0.3s;
}

.logo:hover {
  transform: translateY(-20px);
}

.label span {
  background: #fff;
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.label span:nth-of-type(1) {
  width: 50%;
}

.label span:nth-of-type(2) {
  width: 100%;
}

.label span:nth-of-type(3) {
  width: 75%;
}

.label:hover {
  transform: translateY(-2.5px);
}

.checkbox {
  display: none;
}

.checkbox:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotateZ(45deg) translate(8px, 0px);
}

.checkbox:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotateZ(-45deg);
}

.checkbox:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -11px) rotateZ(45deg);
}

@media only screen and (max-width: 650px) {
  .label {
    right: 5vw;
  }
  .logo {
    left: 5vw;
  }
}

@media only screen and (max-width: 450px) {
  .label {
    width: 30px;
  }

  .label span {
    height: 3px;
    margin: 3px 0;
  }

  .checkbox:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(5px, 0px);
  }

  .checkbox:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(13px, -5px) rotateZ(45deg);
  }
}
